<!DOCTYPE html>
<html>
  <head>
    <% for (var chunk in htmlWebpackPlugin.files.css) { %>
    <link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
    <% } %>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
    <% } %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap" rel="stylesheet"> 
    <meta charset="utf-8">
    <title>SFL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
  </head>
  <body>
    <sfl-navbar>
      <sfl-navbar-item>
        <sfl-router-link href="/users">
          Users
        </sfl-router-link>
      </sfl-navbar-item>
      <sfl-navbar-item>
        <sfl-router-link href="/repos">
          Repos
        </sfl-router-link>
      </sfl-navbar-item>
    </sfl-navbar>
    <div id="app"></div>
  </body>
</html>